.navbar {
  z-index: 100;
  text-decoration: none;
  align-items: center;
  display: flex;
  width: 100%;
  height: 90px;
  background-color: #111;
  border-bottom: 2px solid rgba(51, 51, 51, 0.25);
}

.logo {
  margin-left: 1%;
  width: 155px;
  display: flex;
  justify-content: center;
}

.logo-img {
  /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF4AAABfCAMAAABWUID5AAAAMFBMVEVHcEz///////////////////////////////////////////////////////////9EPuwCAAAAEHRSTlMAI085DWfH//aigdiRs+frRWbgBgAAActJREFUeNrtmd2SgyAMRg0/MRDA93/bnc66UmC9weSi1e+y0zmTEjyhuDx5ct+AEYuFju08roKhYJvKcZVOfKPzKp904POqEbPT7aoS3vFh1cneXtZg1+4WDXZt7vbdeMrR+4RK+LArxKAG3lczZUF8pddkaXxurU3CeLs0SbJ4di3eyOJzP9Nk8aHH0ydVX3TXfjUtPijve82n1qGucxSN6Qwr+R6j94GfYfjg74UnRiz/ChWR6SK+RHg9tDYMujMvXYPnK/gMh+ybb5I/XBRm8KOR7fZGN0tNmsWzOxlWcXkPTuL90mJOTihmDr+5Fu9r8U0cT+FxaWPrDG4TZM85dmkTdfFJd3HyFJ7gZA1S19ptbmPGkw2yQbej5vBkx+LHrkCZlQJDX+P4uxzOK62YP0jsdpX76zdf8n32AGDjACnJAoDJdHlaEZ19TneftQ/+W/EcjbUmbCp48m73VlDAb7YR5llEhJyk8akdJ0X3uijK4rkf5dr3OZ+Ez6qLMx5hda+Lsih+/Psghx+bCyyvtHDUb1lDyPirTIikNE5KDhnplsOw6OJRCe+rwxVCUC0on2rDqFW8yjvP0YWRhOHcmtYmLGLh7KtnfwBM1sMEK6SVHgAAAABJRU5ErkJggg==);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  width: 60px;
}

.logo-img img {
  width: 100%;
}

.logo-name {
  display: flex;
  align-items: center;
}
.logo span {
  color: white;
  font-size: 1.7rem;
  font-family: "FF Mark W05", sans-serif !important;
  font-weight: 500;
}

.navigation {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  list-style: none;
  text-align: center;
}

.navigation__item {
  color: rgb(255, 255, 255);
  text-decoration: none;
  list-style: none;
  font-size: 13px;
  position: relative;
  line-height: 120%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin: 0 17px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation__item:hover::before {
  transform: scaleX(1);
  transition: transform 0.35s;
}
.navigation__item::before {
  content: "";
  transform-origin: left;
  width: 80%;
  margin-left: 9px;
  height: 3px;
  background-color: rgb(209, 54, 57);
  position: absolute;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
}

.btn-sing-in {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgb(209, 54, 57);
  border: 3px solid rgb(209, 54, 57);
  border-radius: 20px;
  height: 40px;
  position: absolute;
  right: 0;
  margin-right: 70px;
  width: 80px;
  cursor: pointer;
}
.btn-sing-in:hover {
  border: 2px solid rgb(209, 54, 57);
  color: #fff;
  background: rgba(215, 31, 31, 0);
  transition: 0.5s;
}

.search {
  width: 220px;
  height: 40px;
  background: #2b2a29;
  border-radius: 20px;
  position: absolute;
  right: 153px;
}
.search img {
  height: 23px;
  width: 23px;
  margin: 0;
  position: absolute;
  right: 13px;
  top: 5px;
}
.search-inp {
  font-size: 17px;
  height: 28px;
  width: 150px;
  margin-left: -18px;
  margin-top: 4px;
  border: none;
  background-color: rgba(12, 12, 12, 0);
  color: white;
}
.search-inp:focus {
  outline: none;
}
.menu {
  display: none;
}

@media (max-width: 1200px) {
  .btn-sing-in {
    margin-right: 40px;
  }
  .search {
    position: absolute;
    right: 125px;
  }
  .navigation__item {
    margin: 0 10px;
  }
  .navigation {
    padding-left: 10px;
  }
}
/* @media (max-width: 1050px) {
  .logo {
    width: 30%;
  }
} */

@media (max-width: 990px) {
  .navigation {
    display: none;
  }
  .menu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.5s;
  }
  .menu.active {
    transform: translateX(0);
  }
  .burger-btn {
    height: 30px;
    margin-left: 25%;
    position: absolute;
  }
  .burger-btn::before {
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    background-color: white;
    height: 2px;
  }
  .burger-btn span {
    position: absolute;
    top: 12px;
    width: 30px;
    background-color: white;
    height: 1px;
  }
  .burger-btn::after {
    content: "";
    position: absolute;
    top: 24px;
    width: 30px;
    background-color: white;
    height: 2px;
  }
  .menu__content {
    width: 28%;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    transition: all 0.2s;
  }
  .menu__header {
    font-size: 20px;
    color: white;
    padding: 10px;
    border-bottom: 1px solid white;
    width: 50% !important;
    text-align: center;
  }
  ul li a {
    color: white;
    text-decoration: none;
    justify-content: center;
    margin-bottom: 17px;
    display: flex;
  }
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
  }
}
@media (max-width: 950px) {
  .search {
    width: 200px;
    position: absolute;
    right: 105px;
  }
  .footer-social {
    margin: 0 5px !important;
  }
  .footer-href a {
    margin: 0 20px !important;
  }
  .btn-sing-in {
    margin-right: 20px;
  }
  .burger-btn {
    margin-left: 240px;
  }

  /* .logo {
    width: 20%;
  } */
}
@media (max-width: 793px) {
  .footer {
    height: 150px !important;
  }
  .footer-href {
    margin-bottom: 30px;
  }
  .footer-social {
    margin: 0 5px 30px 5px !important;
  }
  .footer p {
    width: 500px;
  }
}
@media (max-width: 640px) {
  .footer-top {
    flex-direction: column;
  }
  .footer-href a {
    font-size: 14px !important;
  }

  .footer-href {
    margin-bottom: 10px;
  }
  .footer-social {
    margin: 0 5px 10px 5px !important;
  }
  .footer-social img {
    width: 30px !important;
    height: 30px !important;
  }
  .footer p {
    font-size: 12px;
  }
  .search {
    width: 170px;
    position: absolute;
    right: 95px;
  }
  .search-inp {
    width: 115px;
  }
  .search img {
    width: 20px !important;
    height: 20px !important;
    margin-top: 3px !important;
  }
  .btn-sing-in {
    width: 70px !important;
    height: 35px !important;
  }
  .burger-btn {
    margin-left: 160px;
    margin-top: 5px;
  }
}
@media (max-width: 530px) {
  .footer {
    height: 130px !important;
  }
  .footer-social {
    /* margin:5px !important; */
    margin-top: 6px !important;
    margin-bottom: 3px !important;
  }
  .footer-social img {
    width: 25px !important;
    height: 25px !important;
  }
  .footer-href {
    margin-bottom: 0 !important;
  }
  .footer p {
    width: 70%;
  }
}
@media (max-width: 470px) {
  .burger-btn {
    margin-left: 130px;
  }
  .burger-btn::before {
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    background-color: white;
    height: 2px;
  }
  .burger-btn span {
    position: absolute;
    top: 10px;
    width: 30px;
    background-color: white;
    height: 1px;
  }
  .burger-btn::after {
    content: "";
    position: absolute;
    top: 20px;
    width: 30px;
    background-color: white;
    height: 2px;
  }
  .menu__content {
    width: 150px !important;
  }
  .search {
    height: 35px;
  }
  .search-inp {
    margin: 2px -2px;
  }
  .btn-sing-in {
    height: 35px;
  }
}
@media (max-width: 430px) {
  .search {
    display: none;
  }
  .navbar {
    height: 70px;
  }

  .burger-btn::before {
    content: "";
    position: absolute;
    top: 2px;
    width: 25px;
    background-color: white;
    height: 2px;
  }
  .burger-btn span {
    position: absolute;
    top: 10px;
    width: 25px;
    background-color: white;
    height: 1px;
  }
  .burger-btn::after {
    content: "";
    position: absolute;
    top: 18px;
    width: 25px;
    background-color: white;
    height: 2px;
  }
  .menu__content {
    margin-top: 20px;
  }

  .footer-href a {
    margin: 0 6px !important;
  }
  .footer-social {
    margin: 0 !important;
  }
}
@media (max-width: 320px) {
  .burger-btn {
    margin-left: 110px !important;
  }
}
