.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.news-title {
  width: 600px;
  text-align: start;
  margin: 25px;
}
.news-title img {
  width: 600px;
  height: 380px;
}
.news-title h3 {
  font-size: 25px;
  width: 100%;
  margin: 15px 0 10px 0;
  margin-left: 40px;
  cursor: pointer;
  line-height: 2rem;
}
.news-title h3:hover::before {
  transform: scaleX(1);
  transition: transform 0.35s;
}
.news-title h3::before {
  content: "";
  transform-origin: left;
  width: 570px;
  height: 3px;
  background-color: red;
  position: absolute;
  transform: scaleX(0);
}
.news-title h5 {
  background-color: red;
  width: 60px;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  color: white;
  margin-left: 40px;
}
.news-title p {
  font-size: 17px;
  color: #a8a69d;
  margin-top: 0;
  margin-left: 40px;
}
.news-time {
  transform: rotate(-90deg);
  font-size: 13px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100px;
  margin: 45px 0 -60px -42px !important;
}
.swiper-container {
  margin: 50px 0 55px 30px;
  width: 95%;
}

@media (max-width: 1400px) {
  .news-title {
    width: 480px;
    margin: 15px;
  }
  .news-title img {
    width: 480px;
    height: 380px;
  }
  .news-title h3 {
    width: 93%;
    font-size: 20px;
  }
}
@media (max-width: 1160px) {
  .news-title {
    width: 370px;
    margin: 15px;
  }
  .news-title img {
    width: 370px;
    height: 300px;
  }
  .news-title h3 {
    width: 90%;
  }
  .news-title p {
    font-size: 15px;
  }
}
@media (max-width: 920px) {
  .news-title {
    width: 270px;
    margin: 15px;
  }
  .news-title img {
    width: 270px;
    height: 200px;
  }
  .news-title h5 {
    margin: 15px 40px;
  }
  .news-time {
    margin: 25px 0 -40px -40px !important;
  }
  .news-title h3 {
    width: 89%;
    font-size: 16px;
  }
  .swiper-container {
    margin-left: 20px;
  }
}
@media (max-width: 680px) {
  .news-title {
    width: 90%;
    height: 50%;
    margin: 15px;
  }
  .news-title img {
    width: 90%;
    height: 40%;
  }
  .news-title h5 {
    margin: 15px 40px;
  }
  .news-title h3 {
    width: 85%;
    font-size: 17px;
  }
  .news-title p {
    display: none;
  }
  .news-time {
    display: block !important;
  }
  .swiper-container {
    margin-left: 10px;
  }
}
@media (max-width: 400px) {
  .news-title {
    margin-left: 35px;
  }
  .news-title h3 {
    width: 80%;
    font-size: 12px;
  }
  .swiper-container {
    margin-top: 15px;
  }
  .swiper-pagination {
    display: none;
  }
}
