.work-page .work-video__wrapper {
  display: flex;
}
.work-page .work-title {
  font-weight: 800 !important;
  color: #d13639;
  transition: 0.5s;
}

.work-page .work-title:hover {
  color: transparent;
  -webkit-text-stroke: 3px white;
}

.work-page a {
  min-width: 200px;
  margin-bottom: 20px;
  padding: 10px 0;
  color: white !important;
  background-color: #d13639;
  border: none;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  transition: 0.3s;
  text-align: center;
}

.work-page a:hover {
  color: black !important;
  cursor: pointer;
}

.work-page .swiper {
  width: 50%;
  /* min-height: 100%; */
  height: 315px !important;
  --swiper-pagination-color: "#fff";
}
.work-page .swiper-wrapper {
  height: 315px !important;
}

.work-page .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.work-page .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* min-height: max-content; */
  /* min-height: 100%; */
  object-fit: cover;
}

.work-page .swiper_info {
  text-align: start;
  margin-left: 0px !important;
  margin-top: 0px !important;
  animation: show 2s 1;
}

html {
  scroll-behavior: smooth;
}

.work-page .work-list-content:hover .work-list-title {
  color: #d13639;
}
.work-page .work-list-content:hover {
  cursor: pointer;
}

.work-details-page button {
  min-width: 200px;
  margin-top: 20px;
  height: 40px;
  color: white;
  background-color: #d13639;
  border: none;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  transition: 0.3s;
}

.work-details-page button:hover {
  color: black;
  cursor: pointer;
}

.apply-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apply-form {
  border: 1px solid #252423;
  color: white;
  width: 100%;
  margin-top: 20px;
  visibility: hidden;
  padding: 20px;
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: -500px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.show-apply-form {
  visibility: visible;
  z-index: 99;
  opacity: 1;
  position: static;
}

@media (max-width: 900px) {
  .work-page .swiper {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .work-page .swiper-wrapper {
    height: 200px !important;
  }
  .work-page .swiper {
    height: 200px !important;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
