.bg-video-box {
  width: 100%;
  height: 90%;
  position: absolute;
  left: 0;
  top: 10;
  z-index: -1;
}

.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutUs-title {
  font-weight: 800 !important;
  color: #d13639;
  transition: 0.5s;
}

.aboutUs-title:hover {
  color: transparent;
  -webkit-text-stroke: 3px white;
}

.inp:focus {
  text-decoration: none !important;
  border: none;
}

/* ========================= */

.img__wrapper {
  min-width: 40vw;
  height: 100%;
  margin: 0 auto;

  /* margin: 10px; */
}

.img__wrapper img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.value-card {
  transition: 0.3s;
}

.value-card:hover {
  transform: scale(1.05);
  background-color: white;
}

/* ============== */
.swiper_content {
  display: flex;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 100%;
  --swiper-pagination-color: "#fff";
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper_info {
  text-align: start;
  margin-left: 20px;
  padding-left: 10px;
  margin-top: 20px;
  animation: show 2s 1;
}

.swiper-button-prev {
  color: red;
}
.swiper-button-next {
  color: red;
}

.perks {
  width: 100%;
  font-size: 48px !important;
  opacity: 0.2;
}

.perksInfo {
  position: absolute;
  top: -5px;
  left: 0;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.perksInfo li {
  list-style-type: none;
  font-weight: bold;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  /* margin-bottom:; */
  line-height: 1;
}

.perksInfo li::before {
  /* background-image: url("./list-add.svg"); */
  margin-right: 10px;
  height: 100%;
  display: inline-block;
  padding-bottom: 1px;
  content: "+";
}

.aboutUsPage button {
  min-width: 200px;
  margin-top: 20px;
  height: 40px;
  color: white;
  background-color: #d13639;
  border: none;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  transition: 0.3s;
}

.aboutUsPage button:hover {
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .perksInfo {
    position: static;
    padding: 0;
  }
  .perksInfo li {
    margin-bottom: 10px;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
