@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.news {
  width: 100%;
}
.news img {
  margin-top: 50px;
  width: 75%;
  height: 660px;
}
.title {
  font-size: 40px;
  width: 700px;
  text-align: start;
  font-family: oswald;
  margin: 15px auto;
}
.news p {
  margin-top: 30px !important;
  color: rgb(113, 114, 114);
  font-size: 20px;
  line-height: 40px;
  width: 700px;
  text-align: start;
  margin: 0 auto;
}
.newsDate {
  font-size: 27px;
  position: absolute;
  margin-left: 230px;
  margin-top: 18px;
  left: 0;
}
.news ul {
  color: rgb(113, 114, 114);
  font-size: 20px;
  line-height: 40px;
  width: 600px;
  text-align: start;
  margin: 15px auto;
}
@media (max-width: 1100px) {
  .news img {
    margin-top: 50px;
    width: 75%;
    height: 50%;
  }
  .newsDate {
    transform: rotate(-90deg);
    margin: 75px -140px -125px 80px;
    font-size: 25px;
  }
  .title {
    font-size: 35px;
  }
}
@media (max-width: 1000px) {
  .newsDate {
    font-size: 15px;
    transform: none;
    margin: 0 auto;
    position: relative;
  }
}
@media (max-width: 850px) {
  .title {
    font-size: 25px;
    width: 70%;
  }
  .news p {
    font-size: 15px;
    width: 70%;
    line-height: 30px;
  }
  .news ul {
    font-size: 15px;
    width: 60%;
    line-height: 30px;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 20px;
    width: 70%;
  }
  .news p {
    font-size: 15px;
    width: 75%;
    line-height: 30px;
    margin-top: 10px !important;
  }
  .news ul {
    font-size: 15px;
    width: 70%;
    line-height: 30px;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 20px;
    width: 70%;
  }
  .news p {
    font-size: 15px;
    width: 75%;
    line-height: 30px;
    margin-top: 10px !important;
  }
  .news ul {
    font-size: 15px;
    width: 70%;
    line-height: 30px;
  }
}
