.authPage {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "FF Mark W05", sans-serif !important;
  background-image: url(https://wallpaperaccess.com/full/7889783.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
}

html {
  font-family: "FF Mark W05", sans-serif !important;
}

a,
li,
ul {
  text-decoration: none !important;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.authPage .logo {
  margin-top: 1%;
  position: absolute;
  left: 0;
  height: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 1%;
}

.authPage .logo span {
  font-size: 1.5rem;
}

.authPage .logo-img {
  height: 100%;
}
.authPage input:focus {
  background: #fff;
}

.authPage a:active,
a {
  text-decoration: none !important;
  color: #666 !important;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.08em;
  line-height: 110%;
  font-size: 0.55rem;
}
.authPage a:hover {
  color: rgb(32, 31, 31) !important;
}

.auth-title {
  color: #3b4354;
  font-family: "FF Mark W05", sans-serif;
  font-size: 1.5rem;
  color: #111;
  margin-top: 10%;
  line-height: 110%;
  font-weight: 700;
}

.auth-social {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}

.auth-social button {
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: 1.122250486308544rem;
  height: 2.244500972617088rem;
  width: 30%;
  margin-bottom: 1%;
}

#auth-facebook {
  background-color: #1877f2;
  background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI0IDEyQzI0IDUuMzcyNTggMTguNjI3NCAwIDEyIDBDNS4zNzI1OCAwIDAgNS4zNzI1OCAwIDEyQzAgMTcuOTg5NSA0LjM4ODIgMjIuOTU0IDEwLjEyNSAyMy44NTQyVjE1LjQ2ODdINy4wNzgxMlYxMkgxMC4xMjVWOS4zNTYyNUMxMC4xMjUgNi4zNDg3NSAxMS45MTY2IDQuNjg3NSAxNC42NTc2IDQuNjg3NUMxNS45NzA1IDQuNjg3NSAxNy4zNDM4IDQuOTIxODcgMTcuMzQzOCA0LjkyMTg3VjcuODc1SDE1LjgzMDZDMTQuMzQgNy44NzUgMTMuODc1IDguODAwMDggMTMuODc1IDkuNzQ5MDZWMTJIMTcuMjAzMUwxNi42NzExIDE1LjQ2ODdIMTMuODc1VjIzLjg1NDJDMTkuNjExOCAyMi45NTQgMjQgMTcuOTg5NSAyNCAxMloiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=);
}

#auth-google {
  background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjEwIDEwIDI4IDI4IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMzUuOTk5OSAyNC4yNzQxQzM1Ljk5OTkgMjMuNDU4NCAzNS45MzI0IDIyLjYzODQgMzUuNzg4NCAyMS44MzU5SDI0LjI0MTdWMjYuNDU2NUgzMC44NTRDMzAuNTc5NiAyNy45NDY3IDI5LjY5NzkgMjkuMjY0OSAyOC40MDcgMzAuMTAyNlYzMy4xMDA3SDMyLjM1MTlDMzQuNjY4NCAzMS4wMTA4IDM1Ljk5OTkgMjcuOTI0NiAzNS45OTk5IDI0LjI3NDFaIiBmaWxsPSIjNDI4NUY0Ii8+CjxwYXRoIGQ9Ik0yNC4yNDE3IDM1Ljk5ODRDMjcuNTQzNCAzNS45OTg0IDMwLjMyNzcgMzQuOTM1OSAzMi4zNTY0IDMzLjEwMThMMjguNDExNSAzMC4xMDM3QzI3LjMxNCAzMC44MzU2IDI1Ljg5NzEgMzEuMjUgMjQuMjQ2MiAzMS4yNUMyMS4wNTI2IDMxLjI1IDE4LjM0NDcgMjkuMTM4MiAxNy4zNzMxIDI2LjI5ODhIMTMuMzAyMlYyOS4zODk1QzE1LjM4MDQgMzMuNDQxMiAxOS42MTMxIDM1Ljk5ODQgMjQuMjQxNyAzNS45OTg0WiIgZmlsbD0iIzM0QTg1MyIvPgo8cGF0aCBkPSJNMTcuMzY4NSAyNi4yOThDMTYuODU1NyAyNC44MDc4IDE2Ljg1NTcgMjMuMTk0MSAxNy4zNjg1IDIxLjcwMzlWMTguNjEzM0gxMy4zMDIyQzExLjU2NTkgMjIuMDAzNyAxMS41NjU5IDI1Ljk5ODIgMTMuMzAyMiAyOS4zODg2TDE3LjM2ODUgMjYuMjk4WiIgZmlsbD0iI0ZCQkMwNCIvPgo8cGF0aCBkPSJNMjQuMjQxNyAxNi43NDkyQzI1Ljk4NyAxNi43MjI3IDI3LjY3MzggMTcuMzY2NCAyOC45Mzc4IDE4LjU0OEwzMi40MzI5IDE1LjEyMjNDMzAuMjE5OCAxMy4wODU0IDI3LjI4MjUgMTEuOTY1NSAyNC4yNDE3IDEyLjAwMDhDMTkuNjEzMSAxMi4wMDA4IDE1LjM4MDQgMTQuNTU4IDEzLjMwMjIgMTguNjE0MkwxNy4zNjg2IDIxLjcwNDhDMTguMzM1NyAxOC44NjExIDIxLjA0ODEgMTYuNzQ5MiAyNC4yNDE3IDE2Ljc0OTJaIiBmaWxsPSIjRUE0MzM1Ii8+Cjwvc3ZnPgo=);
  background-color: #fff;
}

#auth-apple {
  background-color: #000;
  background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAyNCAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIzLjI1IDIwLjc2NUMyMy4yNSAyMC44NTUxIDIyLjcwOTYgMjIuNzQ2NSAyMS4zNTg2IDI0LjcyNzlDMjAuMTg3NyAyNi40MzkyIDE5LjAxNjkgMjguMDYwNCAxNy4xMjU1IDI4LjE1MDVDMTUuMjM0MSAyOC4xNTA1IDE0LjY5MzcgMjcuMDY5NyAxMi41MzIxIDI3LjA2OTdDMTAuMzcwNSAyNy4wNjk3IDkuNzQwMDEgMjguMTUwNSA4LjAyODc0IDI4LjI0MDVDNi4yMjc0MSAyOC4zMzA2IDQuNzg2MzQgMjYuNDM5MiAzLjcwNTU0IDI0LjcyNzlDMS4yNzM3NSAyMS4yMTUzIC0wLjUyNzU4NyAxNC45MTA3IDEuOTA0MjEgMTAuNjc3NUMzLjA3NTA4IDguNjA2IDUuMjM2NjggNy4yNTUgNy41Nzg0MSA3LjI1NUM5LjM3OTc0IDcuMjU1IDExLjA5MSA4LjQyNTg2IDEyLjE3MTggOC40MjU4NkMxMy4yNTI2IDguNDI1ODYgMTUuMzI0MSA2Ljk4NDggMTcuNDg1NyA3LjE2NDkzQzE4LjM4NjQgNy4xNjQ5MyAyMC45MDgzIDcuNTI1MiAyMi41Mjk1IDkuODY2OTNDMjIuNDM5NCA5Ljk1NyAxOS40NjcyIDExLjY2ODMgMTkuNTU3MyAxNS4wOTA4QzE5LjU1NzMgMTkuMzIzOSAyMy4xNTk5IDIwLjc2NSAyMy4yNSAyMC43NjVaTTE2LjA0NDcgNC45MTMyNkMxNy4wMzU0IDMuNzQyNCAxNy42NjU5IDIuMTIxMiAxNy40ODU3IDAuNUMxNi4xMzQ3IDAuNTkwMDY3IDE0LjQyMzUgMS40MDA2NyAxMy40MzI3IDIuNTcxNTNDMTIuNTMyMSAzLjU2MjI3IDExLjcyMTUgNS4yNzM1MyAxMS45OTE3IDYuODA0NjZDMTMuNTIyOCA2Ljk4NDggMTUuMDUzOSA2LjA4NDEzIDE2LjA0NDcgNC45MTMyNloiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=);
  border: 2px solid rgba(255, 255, 255, 0.05);
}

#auth-xbox {
  background-color: #107c10;
  background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuMjAyMjIgMTUuOTY3MUM1Ljk2OTc2IDE1Ljg0OTEgNC43MjE5NyAxNS40MDY4IDMuNjUwMDcgMTQuNzA3OEMyLjc1MTg0IDE0LjEyMjEgMi41NDkwMSAxMy44ODEzIDIuNTQ5MDEgMTMuNDAwOEMyLjU0OTAxIDEyLjQzNTYgMy42MTA4MyAxMC43NDUxIDUuNDI3NTUgOC44MTc5MkM2LjQ1OTMzIDcuNzIzNDIgNy44OTY1MiA2LjQ0MDUgOC4wNTE5NCA2LjQ3NTI0QzguMzU0MDUgNi41NDI3NyAxMC43Njk3IDguODk3NzcgMTEuNjc0IDEwLjAwNjRDMTMuMTA0IDExLjc1OTQgMTMuNzYxNSAxMy4xOTQ4IDEzLjQyNzUgMTMuODM0N0MxMy4xNzM2IDE0LjMyMTIgMTEuNTk4MiAxNS4yNzIgMTAuNDQwOCAxNS42MzcyQzkuNDg2OTUgMTUuOTM4MyA4LjIzNDE5IDE2LjA2NTkgNy4yMDIyMiAxNS45NjcxWk0xLjMzNTg1IDEyLjM5NzNDMC41ODk0NTEgMTEuMjUyOCAwLjIxMjM0NCAxMC4xMjYxIDAuMDMwMjc0MiA4LjQ5NjUyQy0wLjAyOTg0NTYgNy45NTg0MyAtMC4wMDgzMDE4MSA3LjY1MDY0IDAuMTY2NzkxIDYuNTQ2MTlDMC4zODUwMTggNS4xNjk2NCAxLjE2OTM3IDMuNTc3MTUgMi4xMTE4NCAyLjU5NzFDMi41MTMyNCAyLjE3OTY5IDIuNTQ5MDkgMi4xNjk1MiAzLjAzODM4IDIuMzM0MjZDMy42MzI1NiAyLjUzNDMxIDQuMjY3MSAyLjk3MjMxIDUuMjUxMTcgMy44NjE2NUw1LjgyNTM0IDQuMzgwNTVMNS41MTE4IDQuNzY1NTJDNC4wNTYzNiA2LjU1MjU2IDIuNTE5OTQgOS4wODU2MiAxLjk0MDkxIDEwLjY1MjhDMS42MjYxMiAxMS41MDQ3IDEuNDk5MTYgMTIuMzU5OSAxLjYzNDYgMTIuNzE2QzEuNzI2MDUgMTIuOTU2NCAxLjY0MjA1IDEyLjg2NjggMS4zMzU4NSAxMi4zOTczWk0xNC40Mzc1IDEyLjU5MTlDMTQuNTExMyAxMi4yMzIyIDE0LjQxOCAxMS41NzE0IDE0LjE5OTQgMTAuOTA1QzEzLjcyNjEgOS40NjE4NSAxMi4xNDM4IDYuNzc3MDMgMTAuNjkxIDQuOTUxNjFMMTAuMjMzNiA0LjM3Njk3TDEwLjcyODQgMy45MjI4N0MxMS4zNzQ1IDMuMzI5OTUgMTEuODIzMSAyLjk3NDkyIDEyLjMwNzEgMi42NzM0MkMxMi42ODkgMi40MzU1IDEzLjIzNDggMi4yMjQ4OCAxMy40Njk0IDIuMjI0ODhDMTMuNjE0IDIuMjI0ODggMTQuMTIzMyAyLjc1MzA1IDE0LjUzNDMgMy4zMjk0NEMxNS4xNzEgNC4yMjIxNyAxNS42Mzk0IDUuMzA0MzQgMTUuODc2NyA2LjQzMDg5QzE2LjAzIDcuMTU4OCAxNi4wNDI4IDguNzE2ODkgMTUuOTAxNCA5LjQ0M0MxNS43ODUzIDEwLjAzODkgMTUuNTQwMyAxMC44MTE5IDE1LjMwMTMgMTEuMzM2MUMxNS4xMjIyIDExLjcyODkgMTQuNjc2NyAxMi40OTE3IDE0LjQ4MTUgMTIuNzRDMTQuMzgxMiAxMi44Njc2IDE0LjM4MTEgMTIuODY3MyAxNC40Mzc1IDEyLjU5MTlaTTcuMzM0MTggMS45NTIzNkM2LjY2MzgxIDEuNjEyMTIgNS42Mjk2NSAxLjI0NjkgNS4wNTgzNyAxLjE0ODY0QzQuODU4MSAxLjExNDIgNC41MTY0NiAxLjA5NDk4IDQuMjk5MTggMS4xMDU5NUMzLjgyNzgzIDEuMTI5NzQgMy44NDg4OCAxLjEwNTExIDQuNjA1MDIgMC43NDgwNjVDNS4yMzM2NSAwLjQ1MTIyOCA1Ljc1ODAyIDAuMjc2Njc1IDYuNDY5ODYgMC4xMjcyOTFDNy4yNzA2MiAtMC4wNDA3NTUgOC43NzU3NyAtMC4wNDI3MjcxIDkuNTYzNzggMC4xMjMyMzdDMTAuNDE0OSAwLjMwMjQ5MiAxMS40MTcxIDAuNjc1MjUxIDExLjk4MTkgMS4wMjI2TDEyLjE0OTcgMS4xMjU4NEwxMS43NjQ2IDEuMTA2NEMxMC45OTk0IDEuMDY3NzggOS44ODQwOCAxLjM3Njc3IDguNjg2NjkgMS45NTkxN0M4LjMyNTUzIDIuMTM0ODQgOC4wMTEzMiAyLjI3NTE0IDcuOTg4NDYgMi4yNzA5NUM3Ljk2NTU5IDIuMjY2NzYgNy42NzExNyAyLjEyMzM5IDcuMzM0MTggMS45NTIzNloiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=);
}

.signIn-btn {
  width: 4.489001945234176rem;
  padding: 0 1.496333981744725rem;
  border-radius: 1.496333981744725rem;
  height: 4.489001945234176rem;
  border: 2px solid #e8e8e8;
  background-color: transparent;
  color: black;
  cursor: pointer;
  background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNC4yNzI3IDEwTDAuNSAxMFY4TDE0LjI3MjUgOEw4LjUxMzQ1IDEuNzI0OTZMOS44NjU3OSAwLjI1MTQ2NUwxNy4yMTg5IDguMjYzMzNDMTcuNTkyMyA4LjY3MDIyIDE3LjU5MjMgOS4zMjk5MyAxNy4yMTg5IDkuNzM2ODJMOS44NjU3OSAxNy43NDg3TDguNTEzNDUgMTYuMjc1MkwxNC4yNzI3IDEwWiIgZmlsbD0iI0Y5RjlGOSIvPgo8L3N2Zz4K);
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
}

.authPage input {
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1) !important;
  background: rgba(126, 126, 126, 0.1);
  color: #525252;
}
.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
  margin-top: 2% !important;
  font-size: 0.5rem !important;
  text-transform: uppercase !important;
  font-weight: 800 !important;
  letter-spacing: 0.02em !important;
  line-height: 100% !important;
  font-family: "FF Mark W05", sans-serif !important;
}

.css-p9kjic-MuiFormControlLabel-root .MuiFormControlLabel-label {
  font-family: "FF Mark W05", sans-serif;
  color: #292929;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 120%;
  font-size: 0.6rem;
  text-align: left;
}

.css-1m9pwf3 {
  width: 0.9rem;
  height: 0.99rem;
}

/* ! register */

.register-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-title {
  height: 100%;
  display: flex;
  align-items: end;
  width: 50%;
}

.register-title h3 {
  font-size: 3.805676093570752rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-shadow: 0px 16px 70px rgb(0 0 0 / 20%), 0px 8px 24px rgb(0 0 0 / 25%);
  color: #fff;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.authPage .css-12upt5e-MuiFormControl-root-MuiTextField-root {
  width: 49% !important;
}

.authPage .css-ebk8wj-MuiFormControl-root-MuiTextField-root {
  width: 49% !important;
}

.form-wrapper-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.login-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.auth-social-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.auth-social-wrapper p {
  font-size: 0.45rem;
  font-family: "FF Mark W05", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.08em;
  line-height: 130%;
}

.form-animate {
  animation: super 1.2s 1;
}
@keyframes super {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .register-wrapper {
    display: flex;
    flex-direction: column;
  }
  .register-title {
    width: 100%;
  }

  .register-wrapper .css-1kbpkjv {
    width: 100%;
    margin-top: 0;
  }
}

@media (max-width: 753px) {
  .register-title h3 {
    font-size: 3rem;
  }
}

@media (max-width: 594px) {
  .register-title h3 {
    font-size: 2.8rem;
  }
}
@media (max-width: 555px) {
  .register-title h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 495px) {
  .register-title h3 {
    font-size: 2.2rem;
  }
}

@media (max-width: 430px) {
  .authPage .css-12upt5e-MuiFormControl-root-MuiTextField-root {
    width: 100% !important;
  }
  .authPage .css-ebk8wj-MuiFormControl-root-MuiTextField-root {
    width: 100% !important;
  }
}
